html{
    margin: 200px;px;
}
body {
    background-color: rgb(215, 238, 217);
  }
  
  h1 {
    text-decoration: overline;
    text-align: end;
  }
h2 {
 text-align: left;
 text-decoration: underline overline;
}
  img {
      height: 200px;
      float: inherit;
  }
  table {
      width:75%;
   float:right;
 
  }
  ol{
      list-style-type: upper-roman;
  }

  div.hobbies{
      position: relative;
      right: 300px;
  }
  h4{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
  }
